.ribbon{
    &__img1{
        position: absolute;
    }
    &__img2{
        position: absolute;
        height: 50px;
        width: 50px;
        margin-left: 155.5px;
        margin-top: 150px;;
    }
}